#logo{
   margin-right: 49.8px;
    margin-left: 30px;
    margin-top: 30px;
    width: 100.18px;
    height: 30.57px;
    margin-bottom: 20px;
}
.nav_ul li{
    margin-bottom: 10px;
   
}
.nav{
    margin-left: 30px;
    font-size: 22px;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;

}
.nav_ul a{
    color: royalblue;
   
    
}
.active{
    color: red !important ;
}
.main_img{
    width: 1170px;
    height: 460px;
    margin-left: 98px;
    margin-top: 76.9px;
}


.main_img{
    margin-left: 98px;
}



.facebook{
    margin-top: 30.6px;
    margin-left: 30px;
    margin-bottom: 29.4px;
    margin-right: 35.6px;
    width: 14px;
    height: 30px;
}
#line{
    margin-top:32.2px;
    margin-bottom: 31.1px;
    margin-right: 30.2px;
    height: 27px;
}
.youtube{
    margin-top: 30.6px;
    margin-bottom: 29.4px;
    width: 24.8px;
    height: 30px;
}